<launch>
 <arg name = "semantic_files" value = "$(find adaptive_controller)/asp/semantic_map.lp" />
 <arg name="robot_name" default="robot0" />

 <node pkg="adaptive_controller" type="irun.py" name="rosoclingo_controller" args="$(arg semantic_files)" required="true">
   <param name="robot_name" value="$(arg robot_name)"/>
 </node>

 <!--node pkg="adaptive_controller" type="actionsFulfiller.py" name="action_fulfiller" respawn="true">
   <param name="robot_name" value="$(arg robot_name)"/>
 </node-->

 <node pkg="adaptive_controller" type="minimalRequest.py" name="task_requester">
   <param name="robot_name" value="$(arg robot_name)"/>
 </node>

</launch>
